@font-face {
  font-family: 'Quicksand-Regular';
  src: url(~/assets/files/Quicksand-Regular.ttf);
}

@font-face {
  font-family: 'Quicksand-Medium';
  src: url(~/assets/files/Quicksand-Medium.ttf);
}